.favoriteBox{
    margin-top: 20px;
    margin-left: 3%;
}

.allFavoriteBox{
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y:auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; 
}

.allFavoriteBox::-webkit-scrollbar {
    width: 0; /* Masquer la largeur de la barre de défilement */
    height: 0; /* Masquer la hauteur de la barre de défilement */
}

/* Style personnalisé pour la zone de défilement - facultatif */
.allFavoriteBox::-webkit-scrollbar-track {
    background: transparent; /* Couleur de fond de la zone de défilement */
}

.allFavoriteBox::-webkit-scrollbar-thumb {
    background-color: transparent; /* Couleur de la poignée de défilement */
}
