
.formcontainer.active {
  top: 30%; /* La position à laquelle le formulaire apparaîtra */
 
}
.formcontainer .title {
  font-size: 30px;
  font-weight: 500;
  position: relative;
}
.formcontainer .title::before{
  content: "";
  position: relative;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: #586a8c
}
.formcontent form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 12px 0; /* Réduire la marge en haut du formulaire */
}
form .user-details .input-box {
  margin-bottom: 10px; /* Réduire l'espacement entre chaque champ */
  width: calc(50% - 10px); /* Ajuster la largeur pour 2 champs par ligne */
}
.user-details .input-box span.details {
  display: block;
  font-weight: 500;
}
.user-details .input-box input {
  height: 35px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 0; /* Supprimer la bordure arrondie */
  padding-left: 10px; /* Réduire le padding à gauche */
  border: none;
  border-bottom: 1px solid #ccc; /* Ajouter uniquement la bordure du bas */
  transition: all 0.3s ease;
}

 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }


 form input[type="radio"]{
   display: none;
 }
 form .button{

   margin: 35px 0
 }
 form .button input{
  height: 30px;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #000;
   font-size: 18px;
   font-family: 'Dancing Script', cursive;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: rgb(242, 240, 240);
 }
form .user-details .input-box {

  width: calc(100% / 2 - 20px);
}
.user-details .input-box:last-child {
  width: 100%; /* Ajustement de la largeur pour le dernier élément sur une ligne */
}


.formcontainer {
  position: fixed; /* Utilisation de position absolue */
  top: 80px; /* Placez le formulaire hors de la vue */
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  width: 60%;
  background-color: #fff;
  padding: 20px 25px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  transition: top 0.5s ease; /* Ajout de la transition pour le changement de position */
}


.no-scroll {
  overflow: hidden;
}


#loginForm,#inscriptionForm {
  z-index: 1000;
  /* Utilisez une valeur de z-index plus élevée si nécessaire */
}
#inscriptionForm
{top:60px;}
.formcontainer .title {
  position: relative;
}

.close-icon {
  position: absolute;
top: 6px; /* Ajustez la position verticale si nécessaire */
  right: 6px; /* Ajustez la position horizontale si nécessaire */
  cursor: pointer;
  font-size: 15px;
  color: #e8e0d4;
}



#inscriptionForm .input-box {

  width: calc(50% - 15px);
  display: inline-block;
}
input::placeholder {
  font-size: 14px; /* Modifier la taille du texte du placeholder */
  color: #999; /* Changer la couleur du texte du placeholder */
  font-family: 'Dancing Script', cursive;
}


.input-box select:focus {
    outline: none;
}


.input-box select {
    font-family: 'Dancing Script', cursive;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    width: 100%;
    height: 35px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    cursor: pointer;
}
.error-message {
  color: rgb(233, 72, 72);
  font-size:30px;
  /* Autres styles que vous souhaitez appliquer aux messages d'erreur */
}

.success-message {

  color: #32c069;

  font-size:30px;
  /* Autres styles que vous souhaitez appliquer aux messages d'erreur */
}
button {
 background-color:transparent;

 border-color: transparent;
 margin-top:7px;
 font-family: 'Dancing Script', cursive;
 margin-bottom: 15px;
 font-size:20px;
 margin-left:0%;}

