/* Styles for article section */

.article {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-around;
}

.article .articlePic {
    width: 45%;
    height: 80vh;
    background-image: url(./pic/homepicpex5.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.article .articleInfo {
    width: 45%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.article .articleInfo .articleTitlePrice {
    display: flex;
    flex-direction: column;
}

.article .articleInfo .articleTitlePrice h2 {
    margin-bottom: 10px;
}

.article .articleInfo .articleTitlePrice .Price {
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}

.article .articleInfo .articleTitlePrice .Price .priceNoPromo {
    margin-right: 30px;

}

.article .articleInfo .articleTitlePrice .Price .pricewithPromo {
    color: orangered;
}

.article .articleInfo .articleTitlePrice a {
    color: black;
    margin-right: 10px;
}

.article .articleInfo .articleMetal {
    margin-top: 30px;
}

.article .articleInfo .articleMetal h2 {
    margin-bottom: 10px;
}

.article .articleInfo .articleMetal h3 {
    margin-bottom: 5px;
}

.article .articleInfo .articleDescription {
    margin-top: 30px;
}

.article .articleInfo .articleDescription h2 {
    margin-bottom: 10px;
}

.article .articleInfo .articlebtn button {
    margin-top: 40px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 500px;
    height: 40px;
    margin-left: 10px;
    word-spacing: 5px;
    font-weight: 600;
}


.article .articleInfo .articlebtn button:hover {
    cursor: pointer;
}

.articleReviews {
    margin-top: 10%;
    width: 90%;
    margin-left: 5%;
}

.articleReviews h1 {
    margin-bottom: 20px;
}

.articleReviews .reviewsBox {
    display: flex;
    flex-direction: column;
}

.articleReviews .review {
    display: flex;
    flex-direction: row;
    border-top: solid 1px black;
    padding-top: 20px;
}

.articleReviews .review .reviewPost {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: none;
}

.articleReviews .review .reviewPost h2 {
    word-wrap: none;
}

.articleReviews .review .reviewDetails {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.articleReviews .review .reviewDetails .reviewTitleDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.articleReviews .review .reviewDetails .reviewMsg {
    margin-top: 10px;
    margin-bottom: 20px;
}

#navBarArticle {
    margin-top: -10%;
    background-color: whitesmoke;
}

.makeReviewForm {
    width: 40%;
    margin-top: 30px;
    margin-left: 10%;
}

.makeReviewForm form {
    display: flex;
    flex-direction: column;
}

.makeReviewForm form input {
    height: 30px;
    margin-bottom: 20px;
    outline: none;
    padding-left: 10px;
    border: none;
    border-bottom: solid 1px black;
}

.makeReviewForm form .frstLstName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.makeReviewForm form input {
    width: 98%;
}

.makeReviewForm form .frstLstName input {
    width: 240px;
}

.makeReviewForm form textarea {
    height: 50px;
    outline: none;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: solid 1px black;
}

.makeReviewForm form #reviewSubmit {
    border: none;
    background: black;
    color: white;
    font-weight: 600;
    word-spacing: 3px;
    cursor: pointer;
    width: 100%;
}
