*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-style: italic;
}

/* header */

header{
    padding: 10px 50px;
    background:  whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

header h3{
    font-style: italic;
    letter-spacing: 3px;
}

header h3:hover{
    cursor: pointer;
}

header ul{
    list-style: none;
}

header ul li{
    display: inline;
}

header ul li a{
    text-decoration: none;
    margin-left: 30px;
    color: black;
    font-size: 15px;
}

header ul li a:hover{
    color:whitesmoke;
    border-bottom: 1px solid rgb(48, 48, 46);
    font-weight: bold;
}



/*main*/

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-left: 17%;
    margin-right: 0;
}

            /*main_left*/

.main_left {
             width: 17%;
            height: 100%;
                border-right: 1px solid rgb(48, 48, 46);
                display: flex;
                flex-direction: column;
                padding-top: 30px;
                padding-left: 20px;
                padding-right: 7px;
                position: fixed;
                left: 0;
                top: 60px;
                bottom: 0;
                z-index: 9999;
                overflow-y: auto; /* Utilisation de "auto" pour afficher la barre de défilement seulement si nécessaire */
                height: calc(100vh - 60px); /* Ajustement de la hauteur pour éviter le débordement et permettre le défilement sans cacher l'en-tête */
            }
            
    /* Masquer la barre de défilement pour WebKit (Chrome, Safari, etc.) */
.main_left::-webkit-scrollbar {
    width: 0; /* Masquer la largeur de la barre de défilement */
    height: 0; /* Masquer la hauteur de la barre de défilement */
}

/* Style personnalisé pour la zone de défilement - facultatif */
.main_left::-webkit-scrollbar-track {
    background: transparent; /* Couleur de fond de la zone de défilement */
}

.main_left::-webkit-scrollbar-thumb {
    background-color: transparent; /* Couleur de la poignée de défilement */
}



.main_left a{
    text-decoration: none;
    margin-bottom: 30px;
    font-size: 17px;
    color: rgb(48, 48, 46);
    border-bottom: 1px solid rgb(48, 48, 46);
    padding: 8px;
    
}

.main_left a:hover{
    background: whitesmoke;
    font-weight: bold;
}

.main_left i{
    padding-left: 7px;
}

.commande p{
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.commande{
    margin-bottom: 30px;
    position: sticky; /* Permet de rester visible lors du défilement */
    top: 20px;
}
.commande input{
    margin-bottom: 20px;
}

.commande input:hover{
    cursor: pointer;
}

.commande_detail{
    display: inline;
    padding-left: 7px;
}

.main_left img{
    width: 90%;
    height: 130px;
    border-radius: 5px;
    margin-top: 15px;
}

.main_left img:hover{
    cursor: pointer;
}
/* Ajout de styles pour la boîte de recherche */
.ItemSearchBox {
    display: flex;
    flex-direction: row;
    align-items: center; /* Alignement des éléments sur la même ligne */
}

.ItemSearchBox form {
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    margin-left: 30px; /* Espacement entre les éléments */
}

.searchInputItemName {
    background-color: whitesmoke;
    padding: 5px;
    border: none;
    border-bottom: solid 1px black;
    outline: none;
    margin-right: 5px; /* Espacement entre l'icône et le champ de recherche */
}

.ItemSearchBox button {
    background-color:whitesmoke;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    color: black;
    cursor: pointer;
}



.menu ul {
    display: flex;
    align-items: center;
}


body,html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
}



/* Style des champs de mot de passe */

.password-field {
    width: 100%;
    padding: 4px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 0px;
    outline: none;}
#recentPassword,
#newPassword,
#confirmNewPassword
 {
    width: 100%;
    
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 5px;
    outline: none;
}

/* Styles pour le bouton */

#passwordForm input[type="submit"] {
    display: block;
    width: 100%;
    padding: 5px;

    background-color: whitesmoke;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



/* Style du bouton (réutilisation pour le bouton de l'email) */
.password-submit {
    display: block;
    width: 100%;
    padding: 5px;

    background-color: whitesmoke;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}