
/*main_right*/


.main_right{
    width: 83%;
}

.main_right_top{
    width: 100%;
    height: 10%;
    background: white;
    border-bottom:  1px solid rgb(48, 48, 46);
    border-radius: 2px;
    padding:0  20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_right_top a{
    text-decoration: none;
    color: rgb(48, 48, 46); 
}

.main_right_top a:hover{
    color: rgb(48, 48, 46); 
    font-weight: bold;
}

.main_right_buttom {
    width: 100%;
    margin-left:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alignement à gauche */
    padding-top: 20px;
    gap: 15px; /* Espacement entre les boîtes */
}


.box{
    width: 23%;
    height: 350px;
    border: 1px solid rgb(48, 48, 46); 
    border-radius: 5PX;
    margin-bottom: 15px;
}

.box *{
    border-radius: 5px;
}
.product_img{
    width: 100%;
    height: 65%;
}

.product_img img{
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.detail{
    width: 100%;
    height: 35%;
    padding: 10px;
    padding-left: 15px;
}

.detail p{
    margin-top: 7px;
    font-size: large;
}

.detail i{
    margin-top: 7px;
    color: rgb(48, 48, 46); 
    font-size: 13px;
}

.detail button{
    display: block;
    margin-top: 10px;
    background: none;
    border: 1px solid  rgba(179, 227, 207, 0.893);
    border-radius: 5px;
    padding: 5px;
}

.detail button:hover{
    background: rgba(171, 211, 194, 0.893);
    cursor: pointer;
}

.box:hover{
    cursor: pointer;
    transform: scale(1.04);
    transition: 0.5s;
}
.bottom-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.left-detail {
    font-size: 35px;
}

.right-detail {
    display: flex;
}

.right-detail i {
    margin-left: 10px;
    cursor: pointer;
}


.right-detail i {
    margin-left: 10px;
    cursor: pointer;

    transition: transform 0.3s ease-in-out; /* Ajout de transition pour un effet de zoom en douceur */
}

.right-detail i:hover {
    transform: scale(1.5); /* Agrandissement de 20% lors du survol */
}




